asgiref==3.6.0
async-timeout==4.0.2
beautifulsoup4==4.11.1
contourpy==1.0.7
cycler==0.11.0
Django==4.1.5
django-bootstrap4==22.3
django-extensions==3.2.1
django-redis==5.2.0
fonttools==4.38.0
kiwisolver==1.4.4
matplotlib==3.6.3
nano==0.10.0
numpy==1.24.1
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
psycopg2-binary==2.9.5
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
redis==4.4.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
openpyxl==3.0.9
whitenoise