asgiref==3.6.0
async-timeout==4.0.2
beautifulsoup4==4.11.1
Django==4.1.5
django-bootstrap4==22.3
django-extensions==3.2.1
django-redis==5.2.0
nano==0.10.0
psycopg2-binary==2.9.5
redis==4.4.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
