asgiref==3.5.2
cffi==1.15.1
cryptography==38.0.3
Django==4.0.5
django-appconf==1.0.5
django-extensions==3.2.1
greenlet==2.0.1
psycopg2-binary==2.9.3
pycparser==2.21
SQLAlchemy==1.4.37
sqlparse==0.4.2
redis==4.4.0
redis-om==0.1.1