{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Zmiana hasła{% endblock %}
{% block content %}


  <div class="container">
    <h1>Witaj, {{ user.first_name }} {{ user.last_name }}</h1>

    <h2>Zmiana hasła</h2>
    <form method="post" action="{% url 'change_password' %}">
      {% csrf_token %}
      {% if error %}
      <p class="text-danger">{{ error }}</p>
        {% endif %}
        {% if success %}
        <p class="text-success">{{ success }}</p>
          {% endif %}
        {% if form.errors %}
        <p class="text-danger">Popraw błędy w formularzu</p>
          {% endif %}
        {% if form.non_field_errors %}
        <p class="text-danger">{{ form.non_field_errors }}</p>
          {% endif %}
        {% if form.old_password.errors %}
        <p class="text-danger">{{ form.old_password.errors }}</p>
          {% endif %}
        {% if form.new_password1.errors %}
        <p class="text-danger">{{ form.new_password1.errors }}</p>
          {% endif %}
        {% if form.new_password2.errors %}
        <p class="text-danger">{{ form.new_password2.errors }}</p>
          {% endif %}
        
      {% bootstrap_form form %}
      <div class="bg-light border border-black p-3 d-inline-block">
        <p>Hasło powinno zawierać co najmniej 8 znaków.</p>
        <p>Hasło powinno nie być wyłącznie numeryczne.</p>
        <p>Hasło powinno zawierać co najmniej jedną wielką literę.</p>
        <p>Hasło powinno zawierać co najmniej jedną małą literę.</p>
        <p>Hasło powinno zawierać co najmniej jedną cyfrę.</p>
      </div>
        <br>
        <br>
    
      <input type="submit" value="Zmień hasło">
    </form>
  </div>
{% endblock %}
