{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Zmiana hasła - Anonimowe Ankiety{% endblock %}
{% block content %}

<div class="container">
    <h1>Witaj, {{ user.first_name }} {{ user.last_name }}</h1>

    <h2>Zmiana hasła</h2>
    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p style="color:red">{{ error }}</p>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% bootstrap_form form %}
        <div class="bg-light border border-black p-3 d-inline-block">
            <p>Hasło powinno zawierać co najmniej 8 znaków.</p>
            <p>Hasło powinno nie być wyłącznie numeryczne.</p>
            <p>Hasło powinno zawierać co najmniej jedną wielką literę.</p>
            <p>Hasło powinno zawierać co najmniej jedną małą literę.</p>
            <p>Hasło powinno zawierać co najmniej jedną cyfrę.</p>
        </div>
        <br>
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <br>
        <input type="submit" value="Zmień hasło">
    </form>
</div>
{% endblock %}
