{% extends "base.html" %}

{% block title %}Strona Główna - Anonimowe Ankiety{% endblock %}

{% block content %}
  <h1>Strona Główna - Anonimowe Ankiety</h1>
  <p>Witaj</p>
  <p><small>Proszę się zalogować</small></p>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="username" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">Nigdy nie podamy nikomu twojego adresu mailowego bez twojej zgody.</small>
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Zaloguj się</button>
          <a href="#" class="btn btn-secondary">Zarejestruj się</a>
          <small>Nie masz jeszcze konta? Zarejestruj się!</small>

  </form>
{% endblock %}
