{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}



  <div class="container mt-5">
    <h1 class="text-center">Logowanie</h1>
  <p><small>Proszę się zalogować</small></p>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% if error %}
        <p class="text-danger">{{ error }}</p>
      {% endif %}
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="username" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">Nigdy nie podamy nikomu twojego adresu mailowego bez twojej zgody.</small>
    </div>
    <div class="form-group">
      <label for="password">Hasło</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Zaloguj się</button>
    <a href="{% url 'register_user' %}" class="btn btn-secondary">Zarejestruj się</a>
          <small>Nie masz jeszcze konta? Zarejestruj się!</small>

  </form>
</div>
{% endblock %}

