{% extends "base.html" %}

{% block title %}Edytor ankiety: {{ poll.poll_name }}{% endblock %}

{% block content %}
<h1>{{ poll.poll_name }} 
  <!-- <button id="edit-name-btn">Edit Name</button>
  <form id="edit-name-form" style="display: none;">
      <input type="text" id="new-name" name="new_name">
      <button id="save-name-btn" type="submit">Save</button>
  </form> -->
   <form method="post" action="{% url 'delete_poll' poll_id=poll.id %}">
  {% csrf_token %}
  <input type="submit" value="Usuń ankietę" class="btn btn-danger btn-lg"></form></h1> 


  <p>{{ poll.poll_text }}</p>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <h2>Pytania zamknięte</h2>
  <ol>
  {% for closed_question in closed_questions %}
    <li><p>{{ closed_question.question_text }} <a href="{% url 'delete_closed_question' question_id=closed_question.id %}" class="text-red"><i style="color:red" class="fa-sharp fa-solid fa-xmark"></i></a></p>


    <ol>
    {% for closed_answer in closed_answers %}
      {% if closed_answer.question_id_id == closed_question.id %}
        <li>{{ closed_answer.answer }} 
          <!-- usun odpowiedz -->
          <a href="{% url 'closed_question_delete_answer' closed_answer.id %}" class="text-red"><i style="color:red" class="fa-sharp fa-solid fa-xmark"></i></a>

          <!-- przesun odpowiedz w gore -->
          <a href="{% url 'move_answer_up' closed_answer.id %}" class="text-red"><i class="fas fa-arrow-up"></i></i></a>
          
          <!-- przesun odpowiedz w dol -->
          <a href="{% url 'move_answer_down' closed_answer.id %}" class="text-red"><i class="fas fa-arrow-down"></i></i></a>
        </li>
      {%  endif %}
    {% endfor %}
    </ol>
    <form method="post" action="{% url 'add_answer_to_closed' poll.id closed_question.id %}">
      {% csrf_token %}
      {{ closed_question_answer_form.as_p }}
      <input type="submit" value="Dodaj odpowiedź">
    </form>
  {% empty %}
    <p>Brak pytań zamkniętych dla tej ankiety.</p>
  {% endfor %}
  </ol>

  <form method="post" action="{% url 'add_closed_question' poll.id %}">
    {% csrf_token %}
    {{ closed_question_form.as_p }}
    <input type="submit" value="Dodaj pytanie zamknięte">
  </form>
  <br><br>
  <h2>Pytania otwarte</h2>
  <ol>
  {% for open_question in open_questions %}           

    <p>{{ open_question.question_text }} <a href="{% url 'delete_open_question' question_id=open_question.id %}" class="text-red"><i style="color:red" class="fa-sharp fa-solid fa-xmark"></i></a>
        
    </p>
  {% empty %}
    <p>Brak pytań otwartych dla tej ankiety.</p>
  {% endfor %}
  </ol>

  <form method="post" action="{% url 'add_open_question' poll.id %}">
    {% csrf_token %}
    {{ open_question_form.as_p }}
    <input type="submit" value="Dodaj pytanie otwarte">
  </form>
  <br><br><br><br><br>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script>document.addEventListener("DOMContentLoaded", function(){
    if (performance.navigation.type === 0) {
      // Store scroll position in local storage before page refresh
      window.onbeforeunload = function () {
          localStorage.setItem("scrollTop", window.pageYOffset);
      };
  
      // Get scroll position from local storage and scroll to it after page has loaded
      window.onload = function () {
          var scroll = localStorage.getItem("scrollTop");
          window.scrollTo(0, scroll);
      };
    }
  });
  $("#edit-name-btn").click(function() {
    $("#edit-name-form").show();
  });

  // $("#save-name-btn").click(function(e) {
  //     e.preventDefault();
  //     var newName = $("#new-name").val();
  //     $.ajax({
  //         url: '/polls/update_poll_name/',
  //         type: 'POST',
  //         data: {'new_name': newName, 'poll_id': '{{ poll.id }}'},
  //         success: function(response) {
  //             if (response.success) {
  //                 // update the name on the page
  //                 $("#poll-name").text(newName);
  //                 $("#edit-name-form").hide();
  //                 alert("Name updated successfully!");
  //             } else {
  //                 alert("Error updating name. Please try again.");
  //             }
  //         }
  //     });
  // });

//   document.getElementById('edit-name-button').addEventListener('click', function() {
//   document.getElementById('edit-name-form').style.display = 'block';
// });

document.getElementById('save-name-button').addEventListener('click', function() {
  var newName = document.getElementById('new-name').value;
  var pollId = '{{ poll.id }}'; // assuming you have the poll object available in the template context
  fetch('update_poll_name/' + pollId + '/', {
    method: 'POST',
    body: JSON.stringify({poll_id: "{{ poll.id }}", new_name: newName}),
    headers: {
      'Content-Type': 'application/json',
      "X-CSRFToken": "{{ csrf_token }}"  }
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
    $("#edit-name-form").hide();
  })
  .catch(error => {
    console.error('Error:', error);
  });
});

  </script>
{% endblock %}
