{% extends "base.html" %}

{% block title %}Lista ankiet - Anonimowe Ankiety{% endblock %}

{% block content %}
  <h1>Lista ankiet stworzonych przez użytkownika</h1>

{% if error %}
    <p class="text-danger">{{ error }}</p>
{% endif %}

{% if polls %}
<ul>
{% for poll in polls %}
<li>
<a href="{% url 'poll_detail' poll.id %}">{{ poll.poll_name }}</a>
- {{ poll.poll_text}}
{% if user.is_staff %}
<a href="{% url 'poll_edit' poll.id %}">| Edytuj ankietę </a>
{% endif %}
</li>
{% endfor %}
</ul>
{% else %}
<p>Nie stworzyłeś jeszcze rzadnych ankiet.</p>
{% endif %}
{% endblock %}