{% extends "base.html" %}

{% block title %}{{ poll.poll_name }} - szczegóły ankiety {% endblock %}

{% block content %}

{% if poll.poll_is_published %}
  <h3>{{ poll.poll_name }} - szczegóły ankiety</h3>
{% else %}
  <h3>{{ poll.poll_name }} - szczegóły ankiety (nieopublikowana)</h3>
{% endif %}

{% if poll.poll_is_finished %}
  <h2>Ankieta została zakończona</h2>
  {% if poll.poll_conclusion %}
  <br>
  {% if poll.poll_conclusion|length > 82%}
    <p><b>Wnioski: <span style="color:rgb(116, 9, 9)">{{ poll.poll_conclusion }}</span></b></p>
  {% else %}
    <p><b>Wnioski: <span style="color:rgb(9, 116, 32)">{{ poll.poll_conclusion }}</span></b></p>
  {% endif %}
  <br>
  {% endif %}
  
{% endif %}

<div class="row">
  <div class="span2">
  <form method="post" action="{% url 'delete_poll' poll_id=poll.id %}">
    {% csrf_token %}
    <input type="submit" value="Usuń Ankietę" class="btn btn-danger btn-lg">
  </form>

  </div>
  
    {% if poll.poll_is_published %}
    {% if not poll.poll_is_finished %}
    <div class="span2">
      <form method="get" action="{% url 'unpublish_poll' poll.id %}">
        <input type="submit" value="Ukryj ankietę i wróć do edycji" class="btn btn-primary ml-3">
      </form>
    </div>
  {% endif %}
  {% endif %}
  <div class="span2">
    <a href="{% url 'user_home' %}" class="btn btn-secondary ml-3">Powrót</a>
  </div>
</div>
<br><br>
  
  <p><b>Opis ankiety:</b> {{ poll.poll_text }}</p>
  <h3>Przypisani użytkownicy:</h3>
  <ul>
    {% for respondent in respondents %}

    <li><p>{{ respondent.first_name }} {{ respondent.last_name }} - {{ respondent.email }} 

      {% for key, value in respondents_dict.items %}
        {% if key == respondent.id %}
          {% if value %}
            <span style="color:rgb(9, 116, 32)"> - odpowiedział</span>
          {% else %}
            <span style="color:rgb(116, 9, 9)"> - nie odpowiedział</span>
          {% endif %}
        {% endif %}
      {% endfor %}

    </p></li>

    {% endfor %}
  </ul>
  
  {% if not poll.poll_is_published and not poll.poll_is_finished %}
  <h3>Dodaj respondentów</h3>
  <form method="post" action="{% url 'button_add_respondent' poll_id=poll.id %}">
    {% csrf_token %}
    <select name="user_id">
      {% for user in users %}
          {% if not user in respondents %}
              <option value="{{ user.id }}">{{user.first_name}} {{user.last_name}} - {{ user.email }}</option>
          {% endif %}
      {% endfor %}
  </select>
  


    <input type="submit" value="Dodaj respondentów" class="btn btn-primary">
</form>

  {% endif %}
 
  
  {% load static %}
  <h3>Pytania zamknięte</h3>
  <ol>
    {% for closed_question in closed_questions %}
    <li><p>{{ closed_question.question_text }}</p></li>
    
    <div id="chart-container-{{ closed_question.id }}"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Odpowiedzi', 'Liczba wyborów'],
          {% for closed_answer in closed_answers %}
            {% if closed_answer.question_id_id == closed_question.id %}
              ['{{ closed_answer.answer }}', {{ closed_answer.times_chosen }}],
            {% endif %}
          {% endfor %}
        ]);

        var options = {
          title: 'Wyniki dla pytania: {{ closed_question.question_text }}',
          backgroundColor: 'transparent',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart-container-{{ closed_question.id }}'));
        chart.draw(data, options);
      }
    </script>

    <ul>
      {% for closed_answer in closed_answers %}
        {% if closed_answer.question_id_id == closed_question.id %}
          <li>{{ closed_answer.answer }} | wybrano: {{ closed_answer.times_chosen }}</li>
        {% endif %}
        
      {% endfor %}
    </ul>


    <br><br>
  {% empty %}
    <p>Brak pytań zamkniętych w tej ankiecie.</p>
  {% endfor %}
  </ol>
  <h3>Pytania otwarte</h3>
  <ol>
  {% for open_question in open_questions %}
    <li><p>{{ open_question.question_text }}</p></li>
    <ul>
    {% for open_answer in open_answers %}
      {% if open_answer.question_id_id == open_question.id %}
        <li><p>{{ open_answer.answer }}</p></li>
      {% endif %}
    {% endfor %}
    </ul>
  <br>
  <a href="{% url 'open_question_responses_download' open_question.id %}" class="btn btn-primary">Pobierz odpowiedzi</a>
  
  {% empty %}
    <p>Brak pytań otwartych w tej ankiecie.</p>
  {% endfor %}
  </ol>
<br><br><br></br>


{% endblock %}
