{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}


  <div class="container">
    <h1>Witaj, {{ user.first_name }} {{ user.last_name }}</h1>
    <p>Twój email: {{ user.email }}    
      <form method="get" action="{% url 'change_password' %}">
        <input type="submit" value="Zmień hasło" class="btn btn-primary">
    </form>
    </p>
    <!-- <p>{{ hashed_email }}</p> -->
    <p> 
      {% if user.is_staff %}
      <h3>Utworzone przez Ciebie ankiety:<br></h3>
      <ul>
        {% for poll in user_polls %}
        
           <table>
            <tr>
              <td class="col-2">
                {{ poll.poll_name }} - {{ poll.poll_text}}
              </td>
              <td class="col-1">
                <a href="{% url 'poll_detail' poll.id %}">Zobacz odpowiedzi</a>
              </td>
              {% if not poll.poll_is_published %}
                <td class="col-1">
                    <a href="{% url 'poll_edit' poll.id %}">Edytuj Ankietę </a>
                </td>
                {% else %}
                <td class="col-1">
                    <p>Edytuj Ankietę</p> 
                </td>
                {% endif %}
                
           
            </tr>
          </table>
          

        
        {% endfor %}
      </ul>
      {% endif %}


      <h3>Ankiety do wypełnienia:</h3>
      <ul>
        {% for poll in not_answered_polls %}
        
          <table>
            <tr>
              <td class="col-2">
                {{ poll.poll_name }} - {{ poll.poll_text}}
              </td>
              <td class="col-2">
                <a href="{% url 'poll_response' %}?poll_id={{ poll.id }}">Wypełnij teraz!</a>
              </td>
            </tr>
          </table>
        </li>
        {% endfor %}
      </ul>
      <p></p>
      <h3>Wypełnione ankiety:</h3>
      <ul>
        {% for poll in answered_polls %}
        <li>
          {{ poll.poll_name }} - {{ poll.poll_text}}
        </li>
        {% empty %}
        <ul><p>Nie wypełniłeś jeszcze żadnych ankiet.</p></ul>
        
        {% endfor %}
      </ul>
    </p>

  </div>
{% endblock %}
